<!DOCTYPE html>
<html>
<head>
<title>实验室用户网站</title>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
	<script src="../js/jquery-1.4.4.min.js"></script>
	<script src="../js/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '../images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(){
					$('.caption').animate({
						bottom:-35
					},100);
				},
			});
		});
	</script>
	<link href="../css/news/news_style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
 <div class="header">
	<div class="container" id="nav-fold">
		<div class="head-top">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="nav-top">
				<ul class="nav navbar-nav cl-effect-8" id="ul-po">
					<li><a href="index.html">首页 </a></li>
					<li><a href="about">新闻</a></li>
					<li><a href="gallery">实战</a></li>
					<li><a href="contact">联系我们</a></li>
					<li><a href="task">任务</a></li>
					<div class="clearfix"> </div>
				</ul>
			<!-- /.navbar-collapse -->
			      <div class="login">
				      <ul class="nav-login">
					     <li><a href="#" data-toggle="modal" data-target="#myModal1">登录</a></li>
					      <li><a href="#" data-toggle="modal" data-target="#myModal2">注册</a></li>
				       </ul>
			       </div>
				</div>
			<div class="clearfix"></div>
				</div>
		</div>
	</div>
		<!-- login -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
							
									<div class="login-right">
										<form action="#" method="post">
											<h3>Signin with your account </h3>
											<input type="text" value="Enter your mobile number or Email" name=" Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your mobile number or Email';}" required="">	
											<input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
											<h4><a href="#">Forgot password</a> / <a href="#">Create new password</a></h4>
											<div class="single-bottom">
												<input type="checkbox"  id="brand" value="">
												<label for="brand"><span></span>Remember Me.</label>
											</div>
											<input type="submit" value="SIGNIN" >
										</form>
									</div>
									
								<p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //login -->
			<!-- signup -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
							
									<div class="login-right">
										<form action="#" method="post">
											<h3>Create your account </h3>
											<input type="text" value="Name" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
											<input type="text" value="Mobile number" name="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
											<input type="text" value="Email id" name="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">	
											<input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
											
											<input type="submit" value="CREATE ACCOUNT" >
										</form>
									</div>
								
								<p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //signup -->
		<div class="banner">
			<div class="container">
				<div class="banner-text">
					<h4>计算机辅助设计与视觉计算</h4><br>
					<h2>实验室</h2><br>
					<h2>CAD&VC Lab</h2>
				</div>
			</div>
		</div>


						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
 <!-- start search-->
 <ul class="social-ic">
						<li><a href="#"><i></i></a></li>
						<li><a href="#"><i class="ic"></i></a></li>
						<li><a href="#"><i class="ic1"></i></a></li>
						<li><a href="#"><i class="ic2"></i></a></li>
					</ul>

 <!--news-->
 <div id="news_container">
	 <div class="news_head">
		 <h3>发现新鲜事</h3><br><br>
	 </div>
   <div id="container" class="news_pic" style="margin-left: 60px;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing:content-box;">
	   <div id="example">
		 <div id="slides">
			 <div class="slides_container">
				 <div>
					 <img src="images/slide-1.jpg" width="570" height="270" alt="Slide 1"></a>
					 <div class="caption" style="bottom:0">
					 </div>
				 </div>
				 <div>
					 <img src="images/slide-2.jpg" width="570" height="270" alt="Slide 2"></a>
					 <div class="caption">
				 </div>
				 </div>
				 <div>
					 <img src="images/slide-3.jpg" width="570" height="270" alt="Slide 3"></a>
					 <div class="caption">
					 </div>
				 </div>
				 <div>
					 <img src="images/slide-4.jpg" width="570" height="270" alt="Slide 4"></a>
					 <div class="caption">
					 </div>
				 </div>
				 <div>
					 <img src="images/slide-5.jpg" width="570" height="270" alt="Slide 5"></a>
					 <div class="caption">
					 </div>
				 </div>
				 <div>
					 <img src="images/slide-6.jpg" width="570" height="270" alt="Slide 6"></a>
					 <div class="caption">
					 </div>
				 </div>
				 <div>
					 <img src="images/slide-7.jpg" width="570" height="270" alt="Slide 7"></a>
					 <div class="caption">
					 </div>
				 </div>
			 </div>
			 <a href="#" class="prev"><img src="images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
			 <a href="#" class="next"><img src="images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
		 </div>
	 </div>
   </div>
	 <div class="news_article">
		 <div class="news_article_right">
			 <ul>
				 <a href="#" class="1" >
					 <li class="news_article_head">习近平将访问芬若并中美元首会晤</li>
					 <a href="#" class="1_1">
						 <p class="news_article_concrete">听从指挥教育主题活动 推进”两国一学”治国理政</p>
					 </a>
				 </a>
				 <a href="#" class="2">
					 <li class="news_article_head">习近平总书记植树节的“小细节”</li>
					 <a href="#" class="2_1">
						 <p class="news_article_concrete">齐心协力 栽种希望 全面深化改革</p>
					 </a>
				 </a>
				 <a href="#" class="3">
					 <li class="news_article_head">总理出访微镜头||奥克兰民心之旅 专题</li>
					 <a href="#" class="3_1">
						 <p class="news_article_concrete">中新合作无止境 愈正声 以全面依法治国为支撑</p>
					 </a>
				 </a>
				 <a href="#" class="4">
					 <li class="news_article_head">国防部：反对部署的“萨德”中国军队要做法！</li>
					 <a href="#" class="4_1">
						 <p class="news_article_concrete">公然挑战军委副主席负责制 郭旭下台推三阻四</p>
					 </a>
				 </a>
				 <a href="#" class="5">
					 <li class="news_article_head">业绩下滑，战略失迷。真正的原因是？</li>
					 <a href="#" class="4_1">
						 <p class="news_article_concrete">李嘉诚耗资42亿抄底自家长实地产</p>
					 </a>
				 </a>
			 </ul>
		 </div>
	 </div>
 </div>
 <!--//news-->
	<div class="services">
		<div class="container">
		<div class="service-head">
			<h3>实验室项目</h3>
				<p> 计算机辅助设计与视觉计算的系统开发</p>
			</div>
			<div class="col-md-7 us-ser">
				<div class=" why-choose">
					<div class=" hi-icon-effect-2 hi-icon-effect-2a">
						<a href="#set-6" class="hi-icon  glyphicon glyphicon-book"></a>
					</div>
					<div class="ser-top "> 
						<h5>基于webGL的三维图像标注</h5>
						<p>MATLAB完成从图像到草图；三维模型的特征识别：Ubuntu+caffe+OpenCV3.0+Malab2015b+Python，利用caffe框架对图像进行特征提取以及可视化。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class=" why-choose">
						<div class=" hi-icon-effect-2 hi-icon-effect-2a">
						<a href="#set-6" class="hi-icon  glyphicon glyphicon-leaf"></a>
					</div>
					<div class="ser-top"> 
						<h5>基于本体的糖尿病早期预判</h5>
						<p>初步完成糖尿病本体构建，设计了“糖助手”网站，现修改项目论文</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class=" why-choose">
						<div class=" hi-icon-effect-2 hi-icon-effect-2a">
						<a href="#set-6" class="hi-icon  glyphicon glyphicon-pencil"></a>
					</div>
					<div class="ser-top">
						<h5>基于node.js的图像标注和微信开发</h5>
						<p>啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class=" why-choose">
					<div class=" hi-icon-effect-2 hi-icon-effect-2a">
						<a href="#set-6" class="hi-icon  glyphicon glyphicon-pencil"></a>
					</div>
					<div class="ser-top">
						<h5>体感技术的实现形式</h5>
						<p>Leap Motion软件分析在器件可视范围内的物体，可识别手指，手和工具，从而实时获取位置，手势和动作。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
				<div class="clearfix"> </div>
			</div>
		</div>

<div class="test">
		<div class="container">
		<h3>导师</h3>
			<div  class=" test-grid-1" >
				<div class="col-md-6 test-wrapper">
					<img src="../images/te.jpg" alt="" class="img-responsive">
					<div class="test-grid">
					<div class="test-gr">
						<h4>王吉华</h4>
						<span>科研导师</span>
						</div>
						<p>啊阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 test-wrapper">
					<img src="../images/te1.jpg" alt="" class="img-responsive">
					<div class="test-grid">
					<div class="test-gr">
						<h4>闫伟</h4>
						<span>科研导师 </span>
						</div>
						<p>啊阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				
			<div class="clearfix"> </div>
			</div>
			<div  class=" test-grid-2" >
				<div class="col-md-6 test-wrapper">
					<img src="../images/te2.jpg" alt="" class="img-responsive">
					<div class="test-grid">
					<div class="test-gr">
						<h4>刘一良</h4>
						<span>嗯嗯呢</span>
						</div>
						<p>啊阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 test-wrapper">
					<img src="../images/te3.jpg" alt="" class="img-responsive">
					<div class="test-grid">
					<div class="test-gr">
						<h4>某某某</h4>
						<span>嗯呢阿</span>
						</div>
						<p>啊阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿阿.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

<!---->
<div class="content-bottom">
	<h1>我们的团队</h1>
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                   <img src="../images/fi.jpg" alt="" class="img-responsive">
               </div>
                <div class="text-desc">
                    <h6>王吉华</h6>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;导师：实验室项目指导分配个人任务</p>
                </div>
           </div>
         </div>
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                    <img src="../images/fi1.jpg" alt="" class="img-responsive">
                </div>
				<div class="text-desc">
                    <h6>胡国庆</h6>
                    <p>&nbsp;&nbsp;&nbsp;研究生：前端开发工程师 网站创意总监</p>
                </div>
            </div>
        </div>
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                    <img src="../images/fi3.jpg" alt="" class="img-responsive">
                </div>
				<div class="text-desc">
					<h6>王明慧</h6>
					<p>&nbsp;&nbsp;&nbsp;研究生：前端开发工程师 网站创意总监.</p>
				</div>
			</div>
        </div>
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                    <img src="../images/fi2.jpg" alt="" class="img-responsive">
                </div>
                <div class="text-desc">
                    <h6>徐真</h6>
                    <p>&nbsp;&nbsp;&nbsp;研究生：前端开发工程师 网站创意总监</p>
                </div>
            </div>
        </div>
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                    <img src="../images/fi4.jpg" alt="" class="img-responsive">
                </div>
                <div class="text-desc">
                    <h6>张文斌</h6>
                    <p>&nbsp;&nbsp;&nbsp;研究生：前端开发工程师 网站创意总监</p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
</div>
<!---->
<!--footer-->
 <div class="footer">
	 <div class="container">
		 <p class="footer_header">联系我们</p>
		 <div class="map">
		 <!--百度地图容器-->
		 <div style="width:60%;height:300px;border:#ccc solid 1px;margin-left: 0px;margin-top: 3px"  id="dituContent"></div>
		 <script type="text/javascript">
			 //创建和初始化地图函数：
			 function initMap(){
				 createMap();//创建地图
				 setMapEvent();//设置地图事件
				 addMapControl();//向地图添加控件
			 }

			 //创建地图函数：
			 function createMap(){
				 var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
				 var point = new BMap.Point(116.838792,36.552587);//定义一个中心点坐标
				 map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
				 window.map = map;//将map变量存储在全局
			 }

			 //地图事件设置函数：
			 function setMapEvent(){
				 map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
				 map.enableScrollWheelZoom();//启用地图滚轮放大缩小
				 map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
				 map.enableKeyboard();//启用键盘上下左右键移动地图
			 }

			 //地图控件添加函数：
			 function addMapControl(){
				 //向地图中添加缩放控件
				 var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
				 map.addControl(ctrl_nav);
				 //向地图中添加缩略图控件
				 var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
				 map.addControl(ctrl_ove);
				 //向地图中添加比例尺控件
				 var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
				 map.addControl(ctrl_sca);
			 }
			 initMap();//创建和初始化地图
		 </script>
		 </div>
          <div class="contact-grids">
	        <div class="col-md-8 map">
	        </div>
	      <div class="col-md-4 con-grid">
		    <div class="contact-grid1">
			   <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
			 <div class="con-ic">
				 <p>山东师范大学 <span>长清湖校区</span></p>
			 </div>
			 <div class="clearfix"> </div>
		    </div>
		  <div class="contact-grid contact-grid1">
			   <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
			     <div class="con-ic">
				   <p>+17864180457<span>+17864180461</span></p>
			      </div>
			 <div class="clearfix"> </div>
		   </div>
		 <div class="contact-grid1">
			 <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
			   <div class="con-ic">
				 <p><a href="mailto:info@example.com">1963246652@qq.com</a><span><a href="mailto:info@example.com">info@example2.com</a></span></p>
			    </div>
			 <div class="clearfix"> </div>
		      </div>
		  </div>
	          <div class="clearfix"> </div>
           </div>
		 </div>
 </div>
<!--footer-->

</body>
</html>