<!DOCTYPE html>
<html>
<head>
	<title>Login.html</title>
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">  
    <meta http-equiv="description" content="this is my page">  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
	<link rel="stylesheet" type="text/css" href="styles.css">
	
</head>
<body>
<div class="loginbg1">
	<div class="loginbg">
		<h1>Login</h1>
		<form action="ok.html">  
	      <input type="text" id="tx1" placeholder="请输入您的用户名"><br><br>
	     <!--  <input type="text" id="uname"><br><br> -->
	      <input type="text" id="tx2" placeholder="请输入您的用户密码"><br><br>
	     <!--  <input type="password" id="pwd"/><br><br> -->
	      <input type="submit" value="登录" onclick="return checkuser()"><br><br><br><br>  
    	</form>  
	</div>
	</div>
</body>
</html>