<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>meeting</title>

    <link rel="apple-touch-icon" href="../imags/apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="../css/person/person-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/swipebox.css" rel="stylesheet">
    <link href="../css/person/solarized-light.css" rel="stylesheet">
    <link href="../css/person/person-1.css" rel="stylesheet">
    <script type="text/javascript" src="../js/js-person/modernizr-3.3.1.min.js"></script>
</head>
<body>
<div class="header-task">
    <div class="container-task" id="nav-fold">
        <div class="task-a2">
            <a href="index" class="task-a">首页 </a></li>
            <a href="info" class="task-a">成员信息 </a></li>
        </div>
    </div><!--导航栏-->

    <div class="ace-wrapper-table" >
        <article id="ace-card" class="ace-card-task bg-primary">
            <div class="ace-card-inner text-center">
                <h1>近期会议</h1>
                <br><br>
                <p class="task-task">周一例会（有王老师组织）正常进行</p>
                <p class="task-task2" align="right">2017/03/27</p>
                <p class="task-task">周日例会（有徐真师姐组织）假期取消</p>
                <p class="task-task2" align="right">2017/04/02</p>
            </div>

        </article><!-- 动态更新-->
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task">会议记录</h2>
                                        <div class="intro" align="center"><p color="red"><b>组织</b>：<a href="person">王老师</a>&nbsp;
                                            &nbsp;<b>会议记录</b>：<a href="person">徐真 </a>&nbsp;&nbsp;
                                            <b>时间</b>：2017/03/07</p></div>
                                        <div class="bs-example task-task3" data-example-id="contextual-table" style="border: 1px solid #eee">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>任务</th>
                                                    <th>完成状态</th>
                                                    <th>下周计划</th>
                                                    <th>备注</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="active">
                                                    <th class="row">徐真</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                <tr class="danger">
                                                    <th scope="row">张全英</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">苗绘翠</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                </tr>
                                                <tr>
                                                    <th scope="row">李梦鸽</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="success">
                                                    <th scope="row">张文斌</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">郎需跃</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="info">
                                                    <th scope="row">宋磊</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">付瑶</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="warning">
                                                    <th scope="row">孙晓燕</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">宋燕</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
        </div>
        <br><br>
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task">会议记录</h2>
                                        <div class="intro" align="center"><p color="red"><b>组织</b>：<a href="person">王老师</a>&nbsp;
                                            &nbsp;<b>会议记录</b>：<a href="person">徐真 </a>&nbsp;&nbsp;
                                            <b>时间</b>：2017/03/07</p></div>
                                        <div class="bs-example task-task3" data-example-id="contextual-table" style="border: 1px solid #eee">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>任务</th>
                                                    <th>完成状态</th>
                                                    <th>下周计划</th>
                                                    <th>备注</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="active">
                                                    <th class="row">徐真</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                <tr class="danger">
                                                    <th scope="row">张全英</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">苗绘翠</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                </tr>
                                                <tr>
                                                    <th scope="row">李梦鸽</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="success">
                                                    <th scope="row">张文斌</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">郎需跃</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="info">
                                                    <th scope="row">宋磊</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">付瑶</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="warning">
                                                    <th scope="row">孙晓燕</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">宋燕</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
        </div>
        <br><br>
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task">会议记录</h2>
                                        <div class="intro" align="center"><p color="red"><b>组织</b>：<a href="person">王老师</a>&nbsp;
                                            &nbsp;<b>会议记录</b>：<a href="person">徐真 </a>&nbsp;&nbsp;
                                            <b>时间</b>：2017/03/07</p></div>
                                        <div class="bs-example task-task3" data-example-id="contextual-table" style="border: 1px solid #eee">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>任务</th>
                                                    <th>完成状态</th>
                                                    <th>下周计划</th>
                                                    <th>备注</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="active">
                                                    <th class="row">徐真</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                <tr class="danger">
                                                    <th scope="row">张全英</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">苗绘翠</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                </tr>
                                                <tr>
                                                    <th scope="row">李梦鸽</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="success">
                                                    <th scope="row">张文斌</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">郎需跃</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="info">
                                                    <th scope="row">宋磊</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">付瑶</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr class="warning">
                                                    <th scope="row">孙晓燕</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">宋燕</th>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
        </div>
        <br><br>
        <p><br><br><br><br></p>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../js/js_person/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../js/js_person/highlight.pack.js"></script>
    <script type="text/javascript" src="../js/js_person/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="../js/js_person/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/js_person/progressbar.min.js"></script>
    <script type="text/javascript" src="../js/js_person/slick.min.js"></script>
    <script type="text/javascript" src="../js/js_person/options.js"></script>
    <script type="text/javascript" src="../js/js_person/main.js"></script>
    <p><br><br><br><br></p>

</div>


</body>
</html>
