<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Accessible Profile Widget a Responsive Widget Template  :: w3layouts</title>
    <link href="../css/style.css" rel='stylesheet' type='text/css'/>
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
    <link href="../css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Accessible Profile Widget Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="../js/jquery.min.js"></script>
    <script>$(document).ready(function(c) {
        $('.alert-close').on('click', function(c){
            $('.main-agile').fadeOut('slow', function(c){
                $('.main-agile').remove();
            });
        });
    });
    </script>
</head>
<body>
<h1>lab324成员</h1>
<div class="main-agileits">
    <div class="right-wthree">
        <img src="../images/woman-1254453_640.jpg" alt="image" />
        <h2>宋燕</h2>
        <p> 15级 计算机科学与技术专业</p>
    </div>
    <div class="left-w3ls">
        <ul class="address">

            <li>
                <ul class="address-text">
                    <li><b>性别 </b></li>
                    <li>:女</li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>联系方式 </b></li>
                    <li><a href="mailto:example@mail.com">:17864180461</a></li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>家乡  </b></li>
                    <li><a href="http://w3layouts.com">: 济南</a></li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>人生格言 </b></li>
                    <li><a href="http://w3layouts.com">:  </a></li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>研究方向 </b></li>
                    <li><a href="http://w3layouts.com">:网页设计  </a></li>
                </ul>
            </li>
            <li>
                <ul class="address-text">
                    <li><b>未来憧憬 </b></li>
                    <li><a href="http://w3layouts.com">:  </a></li>
                </ul>
            </li>
        </ul>


        <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
            <div class="agileits_modal_body">
                <iframe src="https://player.vimeo.com/video/8483438?title=0&byline=0&portrait=0"></iframe>
            </div>
        </div>
        <!-- //pop-up-box -->
        <script src="../js/jquery.magnific-popup.js" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>

    </div>

    <div class="clear"></div>
</div>
<footer>
    <p class="agileinfo"> &copy;&nbsp <a href="http://w3layouts.com">具体介绍</a></p>
</footer>
</body>
</html>