<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tutelage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<script src="js/modernizr.custom.js"></script>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->

</head>
<body>
<!-- header -->
<div class="header">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					    <h1><a class="navbar-brand" href="index.html"><i class="glyphicon glyphicon-education" aria-hidden="true"></i><span>Tute</span>Lage</a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a class="hvr-overline-from-center button2" href="/">Home</a></li>
							<li><a class="hvr-overline-from-center button2" href="/about">About</a></li>
							<li><a class="hvr-overline-from-center button2" href="/typography">Academics</a></li>
							<li><a class="hvr-overline-from-center button2 active" href="/services">Services</a></li>
							<li><a class="hvr-overline-from-center button2" href="/contact">Contact</a></li>
						</ul>
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
					</div><!-- /navbar-collapse -->
					
					<!-- search-scripts -->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->
				</nav>
			</div>
		</div>
</div>
<!-- header -->
<!-- banner -->
<div class="banner page-head">
</div>
<!-- //banner -->
<!-- services -->
	<div class="ser-first">
		<div class="container">
				<div class="services-info">
					<h2 class="tittle">SERVICES</h2>
				</div>
				<div class="ser-first-grids">
					<div class="col-md-3 ser-first-grid text-center">
						<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
						<h3>TEMPORIBUS AUTEM</h3>
						<p>These cases are perfectly simple and easy to distinguish. 
							In a free hour, when our power of choice is untrammelled</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						<h3>TEMPORIBUS AUTEM</h3>
						<p>These cases are perfectly simple and easy to distinguish. 
							In a free hour, when our power of choice is untrammelled</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<h3>TEMPORIBUS AUTEM</h3>
						<p>These cases are perfectly simple and easy to distinguish. 
							In a free hour, when our power of choice is untrammelled</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
						<h3>TEMPORIBUS AUTEM</h3>
						<p>These cases are perfectly simple and easy to distinguish. 
							In a free hour, when our power of choice is untrammelled</p>
					</div>
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
	<div class="services-top">
			<div class="container">
				<div class="services-info">
					<h3 class="tittle">WE CAN HELP YOU</h3>
				</div>
				<div class="ser-top-grids">
					<div class="col-md-8 ser-top-grid">
						<div class="ser-top-img">
							<img src="images/f1.jpg" alt=" "/>
						</div>
						<div class="ser-top-txt">
							
							<p>These cases are perfectly simple and easy to distinguish. 
							In a free hour, when our power of choice is untrammelled and 
							when nothing prevents our being able to do what we like best</p>
							<p>Temporibus autem quibusdam et aut officiis debitis 
							aut rerum necessitatibus saepe eveniet </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 ser-top-grid">
						<ul>
							<li><a href="#">Sed ut perspiciatis unde om</a></li>
							<li><a href="#">At vero eos et accusamus et</a></li>
							<li><a href="#">On the other hand, we deno</a></li>
							<li><a href="#">Sed ut perspiciatis unde </a></li>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Neque porro quisquam est </a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
	</div>
	<div class="services">
		<div class="container">
				<div class="services-info">
					<h3 class="tittle">SKILLS AND DEVELOPMENT</h3>
				</div>
				<div class="services-grids">
					<div class="row">
						<div class="col-md-6 services-grid">
								<div class="ser-img">
									<img src="images/pic1.jpg" alt=" "/>
								</div>
								<div class="caption">
									<h4>Sed ut perspiciatis unde</h4>
									<p>It Richard McClintock, a Latin professor at Hampden-Sydney College eos et accusamus et iusto odio dignissimos ducimus qui blanditiis </p>
									
								</div>
								<div class="clearfix"></div>
						</div>
						<div class="col-md-6 services-grid">
								<div class="ser-img">
									<img src="images/pic2.jpg" alt=" "/>
								</div>
								<div class="caption">
									<h4>Sed ut perspiciatis unde</h4>
									<p>It Richard McClintock, a Latin professor at Hampden-Sydney College eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
									
								</div>
								<div class="clearfix"></div>
						</div>
						<div class="col-md-6 services-grid">
								<div class="ser-img">
									<img src="images/pic3.jpg" alt=" "/>
								</div>
								<div class="caption">
									<h4>Sed ut perspiciatis unde</h4>
									<p>It Richard McClintock, a Latin professor at Hampden-Sydney College eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
									
								</div>
								<div class="clearfix"></div>
						</div>
						<div class="col-md-6 services-grid">
								<div class="ser-img">
									<img src="images/pic4.jpg" alt=" "/>
								</div>
								<div class="caption">
									<h4>Sed ut perspiciatis unde</h4>
									<p>It Richard McClintock, a Latin professor at Hampden-Sydney College eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
									
								</div>
								<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
		</div>
	</div>
<!-- //services -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-grid">
				<h3>PERSPICIATIS</h3>
				<ul>
					<li><a href="#">SUMMER CAMPS</a></li>
					<li><a href="#">CELEBRATIONS</a></li>
					<li><a href="#">ONLINE EXAMS</a></li>
					<li><a href="#">COMPETITIONS</a></li>
					<li><a href="#">ACTIVITIES</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>PRAESENTIUM </h3>
				<ul>
					<li><a href="#">PRESENTATIONS</a></li>
					<li><a href="#">SEMINARS</a></li>
					<li><a href="#">PREPARATIONS</a></li>
					<li><a href="#">CONDUCTING GAMES</a></li>
					<li><a href="#">OTHER ACTIVITIES</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>DIGNISSIMOS</h3>
				<ul>
					<li><a href="#">SUMMER CAMPS</a></li>
					<li><a href="#">CELEBRATIONS</a></li>
					<li><a href="#">ONLINE EXAMS</a></li>
					<li><a href="#">COMPETITIONS</a></li>
					<li><a href="#">ACTIVITIES</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>PRAESENTIUM</h3>
				<ul>
					<li><a href="#">PRESENTATIONS</a></li>
					<li><a href="#">SEMINARS</a></li>
					<li><a href="#">PREPARATIONS</a></li>
					<li><a href="#">CONDUCTING GAMES</a></li>
					<li><a href="#">OTHER ACTIVITIES</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<p> &copy; 2015 Tutelage. All Rights Reserved | Design by  <a href="http://www.xmoban.cn/"> xmoban.cn</a></p>
	</div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

</body>
</html>
