<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>task</title>

    <link rel="apple-touch-icon" href="../imags/apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="../css/person/person-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/swipebox.css" rel="stylesheet">
    <link href="../css/person/solarized-light.css" rel="stylesheet">
    <link href="../css/person/person-1.css" rel="stylesheet">
    <script type="text/javascript" src="../js/js-person/modernizr-3.3.1.min.js"></script>
</head>
<body>
<div class="header-task">
    <div class="container-task" id="nav-fold">
        <div class="task-a2">
                        <a href="index" class="task-a">返回首页 </a></li>
        </div>
    </div><!--导航栏-->

    <div class="ace-wrapper-table" >
        <article id="ace-card" class="ace-card-task bg-primary">
            <div class="ace-card-inner text-center">
                <h1>最新动态</h1>
                <br><br>
                <i><p class="task-task">1.宋燕更新了news代码</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/16</p>
                <i><p class="task-task">2.孙晓燕更新了news代码</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/16</p>
                <i><p class="task-task">3.孙晓燕更新了news代码</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/16</p>
                <i><p class="task-task">4.宋燕完成了person页面</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/12</p>
                <i><p class="task-task">5.宋燕更新了news代码</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/16</p>
                <i><p class="task-task">6.孙晓燕更新了news代码</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/16</p>
                <i><p class="task-task">7.孙晓燕更新了news代码</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/16</p>
                <i><p class="task-task">8.宋燕完成了person页面</p></i>
                <p class="task-task2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017/03/12</p>
            </div>

        </article><!-- 动态更新-->
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task">门户网站设计</h2>
                                        <div class="intro"><p color="red">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>负责人</b>：<a href="person">胡国庆</a>
                                            &nbsp; &nbsp; &nbsp;<b>设计人员</b>：<a href="person">孙晓燕</a>，<a href="person">宋燕</a>
                                            &nbsp; &nbsp; &nbsp;<b>辅导</b>：<a href="person">宋磊</a>，<a href="person.html">张文斌</a></p></div>

                                        <div>
                                            <p> &nbsp; &nbsp; &nbsp;此网站是为“计算机辅助设计与视觉计算实验室”设计的一个门户网站，是对实验室内部人开放，并且可以对实验室任务进行管理的实用网站。.</p>
                                            <br>
                                        </div>
                                        <div class="bs-example task-task3" data-example-id="contextual-table" style="border: 1px solid #eee">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>明细</th>
                                                    <th>设计人员</th>
                                                    <th>计划完成</th>
                                                    <th>实际完成</th>
                                                    <th>完成状态</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="active">
                                                    <th class="row">1</th>
                                                    <td>左侧图片循环播放，右侧显示新闻列表，每一个<br>链接对应新闻详情页或者是外站地址</td>
                                                    <td>孙晓燕</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>网站底部循环滚动实验室成员照片，单击某个照<br>片进入个人详情介绍界面</td>
                                                    <td>孙晓燕</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr class="success">
                                                    <th scope="row">3</th>
                                                    <td>展示个人简历至少包含姓名、性别、照片、年级<br>、专业、家乡、联系方式、人生格言、研究方向<br>、未来的憧憬</td>
                                                    <td>宋燕</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>实验室同学登录。在需要登录操作的界面提供登<br>录入口，可使用单独弹出框形式另行设计。</td>
                                                    <td>张文斌</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr class="info">
                                                    <th scope="row">5</th>
                                                    <td>密码修改单独使用一个界面，局部刷新完成整改<br>过程步骤。用户名存在则让输入邮箱确认，如果<br>邮箱确认正确，输入原密码及修改后的密码。</td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">6</th>
                                                    <td>左侧图片循环播放，右侧显示新闻列表，每一个<br>链接对应新闻详情页或者是外站地址。</td>
                                                    <td>孙晓燕</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr class="warning">
                                                    <th scope="row">7</th>
                                                    <td>管理员发布任务、分配到个人，每个人收到任务<br>通知，然后进行查看。</td>
                                                    <td>宋燕</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">8</th>
                                                    <td>每个人在自己的主界面查看收到的任务内容，确认<br>
                                                        是否接受任务，接受任务后需按期提交任务进度</td>
                                                    <td>宋燕</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr class="danger">
                                                    <th scope="row">9</th>
                                                    <td>分配任务、汇总任务进度用图表展示</td>
                                                    <td>宋燕</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">10</th>
                                                    <td>统计实验室人员有无课表、联系方式</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>未完成</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                      </div>
                                </div>
                                <!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
        </div><!--门户网站设计-->
        <br><br>
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task ">基于WEBGL的三维图像标注</h2>
                                        <div class="intro2"><p >  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<b>负责人</b>：<a href="person">张文斌</a>
                                            &nbsp; &nbsp; &nbsp;<b>开发人员</b>：<a href="person">张文斌</a>，<a href="person">李梦鸽</a>
                                            <div>
                                            <p> &nbsp; &nbsp; &nbsp;暂无详情.</p>
                                            <br>
                                        </div>

                                    </div>
                                </div>

                             </div><!-- .padd-box -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->
                </div><!-- .ace-paper-stock -->
            </div><!-- .ace-container -->
            <br><br>
        </div>
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task ">基于本体的糖尿病早期预判</h2>
                                        <div class="intro2"><p color="red">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<b>负责人</b>：<a href="person">闫伟老师</a>
                                            <div>
                                            <p> &nbsp; &nbsp; &nbsp;暂无详情.</p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                      <!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
            <br><br>
        </div>
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task ">基于node.js的图像标注和微信开发</h2>
                                        <div class="intro2"><p color="red">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<b>负责人</b>：<a href="person">宋磊</a>
                                            &nbsp; &nbsp; &nbsp;<b>开发人员</b>：<a href="person">宋磊</a>，<a href="person">胡国庆</a>，<a href="person">郎需跃</a>
                                            <div>
                                            <p> &nbsp; &nbsp; &nbsp;暂无详情.</p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .padd-box -->
                        </div><!-- .ace-paper-cont -->

                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
            <br><br>
        </div>
        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">

                                <div class="row">
                                    <div class="col-sm-12 clear-mrg text-box">

                                        <h2 class="title-task ">体感技术的实现形式</h2>
                                        <div class="intro2"><p color="red">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<b>负责人</b>：<a href="person">郎需跃</a>
                                            &nbsp; &nbsp; &nbsp;<b>开发人员</b>：<a href="person">郎需跃</a>，<a href="person">付瑶</a>
                                            <div>
                                            <p> &nbsp; &nbsp; &nbsp;暂无详情.</p>
                                            <br>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
            <br><br>
        </div>
        <p><br><br><br><br></p>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="../js/js_person/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../js/js_person/highlight.pack.js"></script>
    <script type="text/javascript" src="../js/js_person/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="../js/js_person/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/js_person/progressbar.min.js"></script>
    <script type="text/javascript" src="../js/js_person/slick.min.js"></script>
    <script type="text/javascript" src="../js/js_person/options.js"></script>
    <script type="text/javascript" src="../js/js_person/main.js"></script>
    <p><br><br><br><br></p>

</div>


</body>
</html>
