<!DOCTYPE html>
<html lang="en" class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on" data-theme-color="#c0e3e7">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>task</title>

    <link rel="apple-touch-icon" href="../imags/apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Icon Fonts -->
    <link href="../css/person/person-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/swipebox.css" rel="stylesheet">
    <!-- Styles -->
    <link href="../css/person/solarized-light.css" rel="stylesheet">
    <link href="../css/person/person-1.css" rel="stylesheet">

    <!-- Modernizer -->
    <script type="text/javascript" src="../js/js-person/modernizr-3.3.1.min.js"></script>
</head>
<body>
<div class="header-task">
    <div class="container-task" id="nav-fold">
        <div class="task-a2">
                        <a href="index" class="task-a">返回首页 </a></li>
        </div>
    </div>


    <div class="ace-wrapper" >

        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">
                                <section class="section brd-btm">
                                    <div class="row">
                                        <div class="col-sm-12 clear-mrg text-box">

                                            <h2 class="title-task">门户网站设计</h2>
                                            <div class="intro"><p color="red">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>负责人</b>：<a href="person">胡国庆</a>
                                                &nbsp; &nbsp; &nbsp;<b>设计人员</b>：<a href="person">孙晓燕</a>，<a href="person">宋燕</a>
                                                &nbsp; &nbsp; &nbsp;<b>辅导</b>：<a href="person">宋磊</a>，<a href="person.html">张文斌</a></p></div>
                                            <div>
                                                <p> &nbsp; &nbsp; &nbsp;Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages online directorye core of
                                                    your marketing, the central <b>对这项任务的介绍</b>ucts and services.
                                                    Your brand is not your Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages
                                                    online directory.</p>
                                            </div>
                                            <div class="bs-example " data-example-id="contextual-table" style="border: 1px solid #eee">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>模块</th>
                                                        <th>明细</th>
                                                        <th>设计人员</th>
                                                        <th>计划完成</th>
                                                        <th>实际完成</th>
                                                        <th>完成状态</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="active">
                                                        <th class="row-task">index</th>
                                                        <td>左侧图片循环播放，右侧显示新闻列表，每一个链接对应新闻详情页或者是外站地址</td>
                                                        <td>孙晓燕</td>
                                                        <td> </td>
                                                        <td> </td>
                                                        <td>未完成</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    <tr class="success">
                                                        <th scope="row">3</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    <tr class="info">
                                                        <th scope="row">5</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">6</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <th scope="row">7</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">8</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    <tr class="danger">
                                                        <th scope="row">9</th>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                        <td>Column content</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>









                                            <table width="849" height="152" border="1" class="table">
                                                <tr>
                                                    <td width="178">模块名称</td>
                                                    <td width="178">明细</td>
                                                    <td width="178">计划完成时间</td>
                                                    <td width="178">实际完成时间</td>
                                                    <td width="178">执行人员</td>
                                                    <td width="178">完成状态</td>
                                                </tr>
                                                <tr>
                                                    <td>index</td>
                                                    <td><p>左侧图片循环播放，右侧显示新闻列表，每一个链接对应新闻详情页或者是外站地址。(index)</p></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>孙晓燕</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>index-person</td>
                                                    <td>网站底部循环滚动实验室成员照片，单击某个照片进入个人详情介绍界面</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>孙晓燕</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>person</td>
                                                    <td><p>展示个人简历至少包含姓名、性别、照片、年级、专业、家乡、联系方式、人生格言、研究方向、未来的憧憬……(personDetail)</p></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>宋燕</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>about</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>孙晓燕</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>login</td>
                                                    <td><p>实验室同学登录。在需要登录操作的界面提供登录入口，可使用单独弹出框形式另行设计。(login)</p></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>password</td>
                                                    <td><p>密码修改单独使用一个界面，局部刷新完成整改过程步骤。(password)</p>
                                                        <p>用户名存在则让输入邮箱确认，如果邮箱确认正确，输入原密码及修改后的密码。<strong> </strong></p></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>news</td>
                                                    <td><p>左侧图片循环播放，右侧显示新闻列表，每一个链接对应新闻详情页或者是外站地址。(index)</p></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>孙晓燕</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>task</td>
                                                    <td>管理员发布任务、分配到个人，每个人收到任务通知，然后进行查看。（task）</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>taskDetail</td>
                                                    <td><p>每个人在自己的主界面查看收到的任务内容，确认是否接受任务，接受任务后需按期提交任务进度（taskDetail） </p></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>宋燕</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>manage</td>
                                                    <td><p>分配任务、汇总任务进度用图表展示(manage)</p></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>宋燕</td>
                                                    <td>未完成</td>
                                                </tr>
                                                <tr>
                                                    <td>info</td>
                                                    <td>统计实验室人员无课表、联系方式（info）</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>未完成</td>
                                                </tr>
                                            </table>

                                            </p>
                                        </div>
                                    </div>
                                </section><!-- .section -->

                                <section class="section brd-btm">

                                </section><!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
        </div><!-- #ace-content -->
        <p><br><br><br><br></p>
    </div>
    <div class="ace-wrapper" >

        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">
                                <section class="section brd-btm">
                                    <div class="row">
                                        <div class="col-sm-12 clear-mrg text-box">

                                            <h2 class="title-task">门户网站设计</h2>
                                            <div class="intro"><p color="red">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>负责人</b>：<a href="person">胡国庆</a>
                                                &nbsp; &nbsp; &nbsp;<b>设计人员</b>：<a href="person">孙晓燕</a>，<a href="person">宋燕</a>
                                                &nbsp; &nbsp; &nbsp;<b>辅导</b>：<a href="person">宋磊</a>，<a href="person.html">张文斌</a></p></div>
                                            <div>
                                                <p> &nbsp; &nbsp; &nbsp;Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages online directorye core of
                                                    your marketing, the central <b>对这项任务的介绍</b>ucts and services.
                                                    Your brand is not your Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages
                                                    online directory.</p>
                                            </div>
                                            <table width="849" height="152" border="1">
                                                <tr>
                                                    <td width="178">模块名称</td>
                                                    <td width="179">执行人员</td>
                                                    <td width="201">计划完成时间</td>
                                                    <td width="181">实际完成时间</td>
                                                    <td width="162">完成状态</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table>

                                            </p>
                                        </div>
                                    </div>
                                </section><!-- .section -->

                                <section class="section brd-btm">

                                </section><!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
        </div><!-- #ace-content -->
        <p><br><br><br><br></p>
    </div>
    <div class="ace-wrapper" >

        <div  class="ace-container-shift">
            <div class="ace-container">
                <div class="ace-paper-stock">
                    <main class="ace-paper clearfix">
                        <div class="ace-paper-cont clear-mrg">

                            <!-- START: PAGE CONTENT -->
                            <div class="padd-box clear-mrg">
                                <section class="section brd-btm">
                                    <div class="row">
                                        <div class="col-sm-12 clear-mrg text-box">

                                            <h2 class="title-task">门户网站设计</h2>
                                            <div class="intro"><p color="red">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>负责人</b>：<a href="person">胡国庆</a>
                                                &nbsp; &nbsp; &nbsp;<b>设计人员</b>：<a href="person">孙晓燕</a>，<a href="person">宋燕</a>
                                                &nbsp; &nbsp; &nbsp;<b>辅导</b>：<a href="person">宋磊</a>，<a href="person.html">张文斌</a></p></div>
                                            <div>
                                                <p> &nbsp; &nbsp; &nbsp;Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages online directorye core of
                                                    your marketing, the central <b>对这项任务的介绍</b>ucts and services.
                                                    Your brand is not your Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages
                                                    online directory.</p>
                                            </div>
                                            <table width="849" height="152" border="1">
                                                <tr>
                                                    <td width="178">模块名称</td>
                                                    <td width="179">执行人员</td>
                                                    <td width="201">计划完成时间</td>
                                                    <td width="181">实际完成时间</td>
                                                    <td width="162">完成状态</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table>

                                            </p>
                                        </div>
                                    </div>
                                </section><!-- .section -->

                                <section class="section brd-btm">

                                </section><!-- .section -->
                            </div><!-- .padd-box -->
                            <!-- END: PAGE CONTENT -->

                        </div><!-- .ace-paper-cont -->
                    </main><!-- .ace-paper -->

                </div><!-- .ace-paper-stock -->

            </div><!-- .ace-container -->
        </div><!-- #ace-content -->
        <p><br><br><br><br></p>
    </div>




    <!-- Scripts -->
    <script type="text/javascript" src="../js/js_person/jquery-1.12.4.min.js"></script>


    <!---<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>--->
    <script type="text/javascript" src="../js/js_person/highlight.pack.js"></script>
    <script type="text/javascript" src="../js/js_person/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="../js/js_person/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../js/js_person/progressbar.min.js"></script>
    <script type="text/javascript" src="../js/js_person/slick.min.js"></script>

    <script type="text/javascript" src="../js/js_person/options.js"></script>
    <script type="text/javascript" src="../js/js_person/main.js"></script>
    <p><br><br><br><br></p>

</div>


</body>
</html>
