<!DOCTYPE html>
<html>
<head>
    <title>任务管理</title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!---->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
<body>
<div class="header">
    <div class="container" id="nav-fold">
        <div class="head-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav-top">
                    <ul class="nav navbar-nav cl-effect-8">
                        <li ><a class="active" href="index.html">首页 </a></li>
                        <li><a href="about">实战</a></li>
                        <li><a href="gallery">新闻</a></li>
                        <li><a href="typo">关于我们</a></li>
                        <li><a href="contact">联系我们</a></li>
                        <li><a href="mission">任务</a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- login -->

    <!-- signup -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="login-grids">

                        <div class="login-right">
                            <form action="#" method="post">
                                <h3>Create your account </h3>
                                <input type="text" value="Name" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                <input type="text" value="Mobile number" name="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                                <input type="text" value="Email id" name="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">
                                <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                <input type="submit" value="CREATE ACCOUNT" >
                            </form>
                        </div>

                        <p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy Policy</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //signup -->



</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="test">

<div class="container">
    <h3>任务查看</h3>
</div>
</div>
<!-- start search-->

<div class="content">
    <div class="container">
        <div class="content-mid">
            <div class="col-md-4 content-mid-1">
                <div class="port effect-1">
                    <div class="image-box">
                        <img src="../images/a1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="text-desc text-ed">
                        <h6>Education</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    </div>
                </div>
                <div class="test-gr">
                    <br>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name3</h4>
                </div>
            </div>
            <div class="col-md-4 content-mid-1">
                <div class="port effect-1">
                    <div class="image-box">
                        <img src="../images/a1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="text-desc text-ed">
                        <h6>Education</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    </div>
                </div>
                <div class="test-gr">
                    <br>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name3</h4>
                </div>
            </div>
            <div class="col-md-4 content-mid-1">
                <div class="port effect-1">
                    <div class="image-box">
                        <img src="../images/a1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="text-desc text-ed">
                        <h6>Education</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    </div>
                </div>
                <div class="test-gr">
                    <br>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name3</h4>
                </div>
            </div>

            <div class="content-mids">
                <div class="col-md-4 content-mid-1">
                    <div class="port effect-1">
                        <div class="image-box">
                            <img src="../images/sun.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-desc text-ed">
                            <h6>门户网站设计 </h6>
                            <p> 截止日期：2017/4/12</p>
                        </div>
                    </div>
                    <div class="test-gr">
                        <br>
                        <br>
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;孙晓燕</h4>
                    </div>
                </div>

                <div class="col-md-4 content-mid-1">
                    <div class="port effect-1">
                        <div class="image-box">
                            <img src="../images/fu.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-desc text-ed">
                            <h6></h6>
                            <p>暂无任务</p>
                        </div>
                    </div>
                    <div class="test-gr">
                        <br>
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;付瑶</h4>
                    </div>
                </div>

                <div class="col-md-4 content-mid-1">
                    <div class="port effect-1">
                        <div class="text-desc text-ed">
                        <h6>门户网站设计</h6>
                        <p>截止日期：2017/4/12</p>
                    </div>
                        <div class="image-box">
                            <img src="../images/song.jpg" alt="" class="img-responsive">
                        </div>

                    </div>
                    <div class="test-gr">
                        <br>
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宋燕</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="test">
    <div class="container">
        <h3>任务详情</h3>
        <div  class=" test-grid-1" >
            <div class="col-md-6 test-wrapper">
                <img src="../images/te.jpg" alt="" class="img-responsive">
                <div class="test-grid">
                    <div class="test-gr">
                        <h4>门户网站设计</h4>
                        <span>张文斌</span>
                    </div>
                    <p>为实验室制作门户网站，对实验室及其成员做出介绍，并实现用户管理，网站新闻，任务管理，个人展示等功能<br>
                    <a href="taskDetail.html">点击此处查看任务进度</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 test-wrapper">
                <img src="../images/te1.jpg" alt="" class="img-responsive">
                <div class="test-grid">
                    <div class="test-gr">
                        <h4>Hailey</h4>
                        <span>Principal </span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div  class=" test-grid-2" >
            <div class="col-md-6 test-wrapper">
                <img src="../images/te2.jpg" alt="" class="img-responsive">
                <div class="test-grid">
                    <div class="test-gr">
                        <h4>Quincy</h4>
                        <span>Manager</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 test-wrapper">
                <img src="../images/te3.jpg" alt="" class="img-responsive">
                <div class="test-grid">
                    <div class="test-gr">
                        <h4>Barb</h4>
                        <span>professor</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!---->

<!---->
<!--footer-->

<!--footer-->

</body>
</html>